In [98]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [99]:
data=pd.read_csv('Football.csv')

In [100]:
data.shape

(571, 59)

In [101]:
data.head()

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,Bernd Leno,1.0,Arsenal,Goalkeeper,Germany,28.0,64,28,16,0,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,Matt Macey,33.0,Arsenal,Goalkeeper,England,26.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,Rúnar Alex Rúnarsson,13.0,Arsenal,Goalkeeper,Iceland,25.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,Héctor Bellerín,2.0,Arsenal,Defender,Spain,25.0,160,90,37,7,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,Kieran Tierney,3.0,Arsenal,Defender,Scotland,23.0,16,7,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0

In [102]:
X.head(10)

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
13,Mesut Özil,10.0,Arsenal,Midfielder,Germany,31.0,184,100,39,33,...,NaN,NaN,NaN,NaN,NaN,NaN,13,0,95,83.0
14,Lucas Torreira,11.0,Arsenal,Midfielder,Uruguay,24.0,63,28,15,3,...,NaN,NaN,NaN,NaN,NaN,NaN,14,1,62,0.0
15,Ainsley Maitland-Niles,15.0,Arsenal,Midfielder,England,23.0,54,26,16,1,...,NaN,NaN,NaN,NaN,NaN,NaN,6,2,35,1.0
16,Mohamed Elneny,25.0,Arsenal,Midfielder,Egypt,28.0,47,29,10,0,...,NaN,NaN,NaN,NaN,NaN,NaN,7,1,24,2.0
17,Joseph Willock,28.0,Arsenal,Midfielder,England,21.0,33,12,12,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,13,0.0
18,Matteo Guendouzi,29.0,Arsenal,Midfielder,France,21.0,57,24,17,0,...,NaN,NaN,NaN,NaN,NaN,NaN,15,0,41,0.0
19,Emile Smith Rowe,32.0,Arsenal,Midfielder,England,20.0,2,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0.0
20,Granit Xhaka,34.0,Arsenal,Midfielder,Switzerland,27.0,132,70,33,8,...,NaN,NaN,NaN,NaN,NaN,NaN,35,2,196,2.0
21,Bukayo Saka,7.0,Arsenal,Midfielder,England,19.0,28,11,7,1,...,NaN,NaN,NaN,NaN,NaN,NaN,6,0,22,13.0
22,Dani Ceballos,8.0,Arsenal,Midfielder,Spain,24.0,26,14,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1,0,21,0.0

In [103]:
label_encoder = LabelEncoder()
data['Name'] = label_encoder.fit_transform(data['Name'])
data['Jersey Number'] = label_encoder.fit_transform(data['Jersey Number'])
data['Club'] = label_encoder.fit_transform(data['Club'])
data['Position'] = label_encoder.fit_transform(data['Position'])
data['Nationality'] = label_encoder.fit_transform(data['Nationality'])

In [104]:
data.head()

,Name,Jersey Number,Club,Position,Nationality,Age,Appearances,Wins,Losses,Goals,...,Punches,High Claims,Catches,Sweeper clearances,Throw outs,Goal Kicks,Yellow cards,Red cards,Fouls,Offsides
0,67,0,0,2,19,28.0,64,28,16,0,...,34.0,26.0,17.0,28.0,375.0,489.0,2,0,0,NaN
1,376,32,0,2,16,26.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
2,487,12,0,2,23,25.0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN
3,213,1,0,0,47,25.0,160,90,37,7,...,NaN,NaN,NaN,NaN,NaN,NaN,23,0,125,8.0
4,321,2,0,0,42,23.0,16,7,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,0,9,0.0

In [105]:
X = data
yz= data['Goals']

In [106]:
from sklearn.feature_selection import SelectKBest

In [107]:
bestfeatures=SelectKBest()